* {
    margin: 0;
    padding: 0;
}


.fon {
    background-color: #E1CDE1;
    position: absolute;
width: 800px;
height: 500px;
left: 133px;
top: 144px;
border-radius: 80px;
}

.kot {
    position: absolute;
    width: 220px;
    height: 200px;
    left: 370px;
    top: 446px;
}

h1 {
    font-family:'Russo One', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
}

.prizrak {
    position: absolute;
width: 250px;
height: 250px;
left: 650px;
top: 180px;
border-radius: 50%;
}

.stars {
    position: absolute;
    width: 340px;
    height: 300px;
    top: 367px;
    left: 289px;
}


.ugadai {
    position: absolute;
    width: 420px;
    height: 100px;
    top: 221px;
    left: 170px;
    border-radius: 100px;
    padding: 0px,45px,0px,45px;
    background-color: #D3BAE5;
}

.sto {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 400px;
    left: 170px;
    border-radius: 50px;
    background-color: #f5f5f5;
    text-align: center;
    font-family:'Russo One', sans-serif;
}

.prov {
    font-size: 17px;
    font-family:'Russo One', sans-serif;
    color: #f5f5f5;
    position: absolute;
    width: 140px;
    height: 40px;
    top: 400px;
    left: 340px;
    border-radius: 50px;
    background-color: #DBA2DC;
    border: none;
    z-index: 5;
}


.value {
    font-family:'Russo One', sans-serif;
    position: absolute;
    font-size: 18px;
    width: 100px;
    height: 30px;
    top: 500px;
    left: 620px;
    background-color: #D3BAE5;
    border: none;
    border-radius: 50px;
    text-align: center;}


.rec {
    font-family:'Russo One', sans-serif;
    position: absolute;
    font-size: 18px;
    width: 100px;
    height: 30px;
    top: 538px;
    left: 620px;
    background-color: #D3BAE5;
    border: none;
    border-radius: 50px;
    text-align: center;
}

.score {
    font-family:'Russo One', sans-serif;
    position: absolute;
    font-size: 18px;
    width: 100px;
    height: 30px;
    top: 500px;
    left: 750px;
    background-color: #D3BAE5;
    border: none;
    border-radius: 50px;
    text-align: center;

}

.record {
    font-family:'Russo One', sans-serif;
    position: absolute;
    font-size: 18px;
    width: 100px;
    height: 30px;
    top: 538px;
    left: 750px;
    background-color: #D3BAE5;
    border: none;
    border-radius: 50px;
    text-align: center;

}

.square {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 494px;
    left: 133px;
    background-color: #D3BAE5;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}
/* НЕ ЗАБУДЬ ЧТО Я ДЕЛАЛ ИМПУТ ВНУТРИ ДИВА С НИКОМ CHOT */